<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Distribucija stampe
      </h1>
    </div>
  </div>
  <div class="col-lg-12">
    <p style="text-align: justify; font-size: 16px">
      DISTRIBYTE se bavi isključivo generalnom distribucijom. Zahvaljujući dugogodišnjem iskustvu i  ispunjenim poslovnim obavezama,
      finansijskim i operativnim, distributivna mreža koju Distribyte snabdeva (15 000 prodajnih mesta u zemlji i u inostranstvu) u mogućnosti
      je da prihvati najzahtevnije zadatke specifične raspodele izdanja, od regiona do prodajnih mesta.
      Distribucija štampe počinje dopremom izdanja u magacin Distribyte-a. Po opremanju tiraža za distribuciju
      (uključujući svu neophodnu propratnu dokumentaciju), izdanja se distribuiraju do prodajnih mesta u Srbiji i u inostranstvu.
      Prodaja svakog izdanja se posebno proučava i prati putem periodičnih izvestaja sa prodajnih mesta. Po završetku prodaje, izdavačima se
      dostavljaju zvanični izveštaji, praćeni specifikacijama i detaljnim analizama prodaje, od prvog do poslednjeg dana. Proces zaokružuje plaćanje
      izdavaču na osnovu dostavljenog knjižnog odobrenja za neprodate primerke. Svi neprodati primerci izdanja se, u magacinu Distribyte-a, stavljaju na
      raspolaganje izdavačima.
    </p>
    <div class="image">
    <img src="assets/distri.jpg" class="img-responsive">
    </div>
  </div>
</div>
