<body style="background-image: url('assets/intro-bg.jpg')">
<div class="container">
  <div class="albumislicice">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-heading-custom">NBA 2016-17 STICKER COLLECTION</div>
          <div class="panel-body"><img src="http://cdn62.paninicloud.com/repository/New_Zealand/Collectibles/Images/Editorials/003382RCVAF_0.jpg" class="img-responsive"  style="width:100%;max-height:400px;" alt="Image"></div>
          <div class="panel-footer panel-custom">NBA 2016/17 album sa najnovijim slicicama NBA igraca i klubova.</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-heading-custom">PANINI FIFA 365 2017 Official Sticker Collection</div>
          <div class="panel-body"><img src="http://cdn62.paninicloud.com/store/media/catalog/product/cache/7/thumbnail/9df78eab33525d08d6e5fb8d27136e95/0/0/003157bin_0_1.jpg" class="img-responsive"  style="width:100%;max-height:400px;" alt="Image"></div>
          <div class="panel-footer panel-custom">FIFA 365, album koji ce vam predstaviti veliki deo istorije fudbala kao i klubove koji su ucestvovali u njenom stvaranju.</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-heading-custom">EURO 2016</div>
          <div class="panel-body"><img src="https://s-media-cache-ak0.pinimg.com/originals/ff/4c/ef/ff4cefc2fe04d0dc56e8c74c7b742c4c.jpg" class="img-responsive"  style="width:100%;max-height:400px;" alt="Image"></div>
          <div class="panel-footer panel-custom">EURO 2016 sadryi slicice svih fudbalera koji ce ucestvovati na Evropskom prvenstvu.</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
