<div class="intro" style="background-image: url('assets/intro-bg.jpg')">
  <div class="intro-body text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="brand-heading">Distribyte</h2>
          <p class="intro-text">Generalni distributer albuma i slicica za Srbiju, distribucija štampe, DVD i CD izdanja.
          </p>
        </div>

      </div>

      <div id="about" class="content-section text-center">
        <div class="about-section">
          <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>O nama</h2>
              <p style="text-align:justify"><b> Osnovne delatnosti kompanije su izdavaštvo, distribucija periodicne štampe, samolepljivih slicica i albuma, DVD i CD izdanja.
                DISTRIBYTE je jedan od lidera na polju distribucije casopisa, DVD i CD izdanja. Iz svog distributivnog centra kroz mrežu distributera
                i poddistributera na 15 000 prodajnih mesta u zemlji i u inostranstvu, godišnje distribuira oko 50 naslova periodicne štampe,
                u ukupnom tiražu od osam miliona primeraka. Raspolaže kompletnom infrastrukturom neophodnom za vrhunsku uslugu u obavljanju svojih
                poslovnih aktivnosti, ukljucujuci i opremu za sampling, kesiranje, celofaniranje i vakumiranje izdanja svim vrstama folija.</b></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="contact text-center" style="background-image: url('assets/downloads-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Kontaktirajte nas</h2>
        <p>Polydor d.o.o. Novosadksa 11/III, Mladenovac, Srbija <br>
          Poslovna jedinica Beograd - Admirala geprata 28<br>
          Poštanski pregradak 6, 11010 Beograd, Pošta 48<br>
          Tel/faks: 011/2461-154 ; 011/2547-000; </p>
        <p>Email za pitanja povodom slicica: <a href="mailto:klub@polydor.co.rs">klub@distribyte.co.rs</a>
        </p>
        <p>Email za poslovne ponude: <a href="mailto:tirazno@polydor.co.rs">tirazno@distribyte.co.rs</a>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://www.facebook.com/polydor.co.rs/" class="btn btn-default btn-lg"><i class="fa fa-facebook-square"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/polydordoo" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"></i> <span class="network-name">Youtube</span></a>
          </li>
          <li>
            <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
